*~
*.swp
#*#
*.[ao]
*.l[ao]
*.out
*.tar.xz
*.Po
*.Plo
tags
jpeg-9a/config.log
jpeg-9a/config.status
jpeg-9a/jconfig.h
jpeg-9a/libtool
jpeg-9a/Makefile
jpeg-9a/stamp-h1
jpeg-9a/[cd]jpeg
jpeg-9a/jpegtran
jpeg-9a/rdjpgcom
jpeg-9a/wrjpgcom
jpeg-9a/.deps
jpeg-9a/.libs
lua-5.2.3/src/lua
lua-5.2.3/src/luac
bin/*
labels.txt
