*~
.DS_Store
*.swp
*.[ao]
*.so
*.so.*
*.l[ao]
*.out
*.tar.xz
*.Po
*.Plo
tags

jpeg/config.log
jpeg/config.status
jpeg/jconfig.h
jpeg/libtool
jpeg/Makefile
jpeg/stamp-h1
jpeg/[cd]jpeg
jpeg/jpegtran
jpeg/rdjpgcom
jpeg/wrjpgcom
jpeg/.deps
jpeg/.libs

readline/Makefile
readline/config.h
readline/config.log
readline/config.status
readline/doc/Makefile
readline/examples/Makefile
readline/shlib/Makefile
readline/stamp-h

lua/src/lua
lua/src/luac

bin/

labels.txt
