*~
.DS_Store
*.swp
*.sublime-workspace
*.[ao]
*.so
*.so.*
*.l[ao]
*.out
*.tar.xz
*.Po
*.Plo
tags

lib/jpeg/libjpeg.pc
lib/jpeg/config.log
lib/jpeg/config.status
lib/jpeg/jconfig.h
lib/jpeg/libtool
lib/jpeg/Makefile
lib/jpeg/stamp-h1
lib/jpeg/[cd]jpeg
lib/jpeg/jpegtran
lib/jpeg/rdjpgcom
lib/jpeg/wrjpgcom
lib/jpeg/.deps
lib/jpeg/.libs

lib/lua/src/lua
lib/lua/src/luac

bin/

labels.txt
